In [2]:
import sqlite3  
  
conn = sqlite3.connect('TEST.db')  
  
print ("Opened database successfully")

Opened database successfully

In [23]:
conn.execute("""CREATE TABLE Product
       (Model INT PRIMARY KEY     NOT NULL, 
       Maker TEXT    NOT NULL)""")  
print("Table created successfully")

Table created successfully

In [20]:
#conn.execute("""DROP TABLE Product""")

In [ ]:
conn.execute("""CREATE TABLE Product
       (Model INT      NOT NULL, 
       Maker TEXT    NOT NULL)""")  
print("Table created successfully")

In [8]:
conn.execute("""CREATE TABLE PC
       (Model INT PRIMARY KEY     NOT NULL, 
       Maker TEXT    NOT NULL,
       Code INT NOT NULL,
       Speed INT NOT NULL,
       hd INT NOT NULL,
       Price INT NOT NULL)""")  
print("Table created successfully")

Table created successfully

In [45]:
conn.execute("""DROP TABLE Laptop""")

In [56]:
conn.execute("""CREATE TABLE Laptop
       (Model INT PRIMARY KEY     NOT NULL, 
       Maker TEXT    NOT NULL,
       Speed INT NOT NULL,
       Ram INT NOT NULL,
       hd INT NOT NULL,
       Code INT NOT NULL,
       Price INT NOT NULL)""")  
print("Table created successfully")

OperationalError: table Laptop already exists

In [11]:
conn.execute("""CREATE TABLE Printer
       (Model INT PRIMARY KEY     NOT NULL, 
       Maker TEXT    NOT NULL,
       Code INT NOT NULL,
       Colour TEXT    NOT NULL)""")  
print("Table created successfully")

Table created successfully

In [12]:
data = pd.read_sql("""select * from PC""", conn)

In [13]:
data

Empty DataFrame
Columns: [Model, Maker, Code, Speed, hd, Price]
Index: []

In [24]:
column = pd.read_sql("""PRAGMA table_info(Product)""", conn)

column

   cid   name  type  notnull dflt_value  pk
0    0  Model   INT        1       None   1
1    1  Maker  TEXT        1       None   0

In [26]:
conn.execute("""INSERT INTO Product VALUES 
('1232','HP'),
('1260', 'DELL'),
('1223', 'Lenovo'),
('1233', 'Toshiba'),
('1121', 'Itel'),
('1235', 'Apple'),
('1123', 'Toshiba'),
('1345', 'Lenovo'),
('1324', 'Dell'),
('1240', 'Apple'),
('1245', 'Itel')""")

In [39]:
conn.execute("""INSERT INTO Product VALUES 
('1220','HP')""")

In [40]:
column = pd.read_sql("""PRAGMA table_info(Product)""", conn)

In [28]:
column

   cid   name  type  notnull dflt_value  pk
0    0  Model   INT        1       None   1
1    1  Maker  TEXT        1       None   0

In [41]:
data1 = pd.read_sql("""select * from product""", conn)

In [42]:
data1

    Model    Maker
0    1232       HP
1    1260     DELL
2    1223   Lenovo
3    1233  Toshiba
4    1121     Itel
5    1235    Apple
6    1123  Toshiba
7    1345   Lenovo
8    1324     Dell
9    1240    Apple
10   1245     Itel
11   1220       HP

In [34]:
conn.execute("""INSERT INTO PC VALUES 
('1','1232','500','64','5'
,'600'),
('10','1260','500','32','10'
,'350'),
('11','1223','900','128','40'
,'980'),
('12','1233','800','128','20'
,'970'),
('2','1121','750','64','5'
,'600'),
('3','1235','500','64','5'
,'600'),
('4','1123','600','128','14'
,'850'),
('5','1345','600','128','8'
,'850'),
('6','1324','750','128','5'
,'950'),
('7','1230','500','32','10'
,'400'),
('8','1232','450','64','5'
,'350'),
('9','1220','450','32','10'
,'350')""")

In [ ]:
data2 = pd.read_sql("""select * from PC""", conn)

In [38]:
data2

    Model Maker  Code  Speed  hd  Price
0       1  1232   500     64   5    600
1      10  1260   500     32  10    350
2      11  1223   900    128  40    980
3      12  1233   800    128  20    970
4       2  1121   750     64   5    600
5       3  1235   500     64   5    600
6       4  1123   600    128  14    850
7       5  1345   600    128   8    850
8       6  1324   750    128   5    950
9       7  1230   500     32  10    400
10      8  1232   450     64   5    350
11      9  1220   450     32  10    350

In [52]:
conn.execute("""INSERT INTO Laptop VALUES 
('1','1232','500','64','5','12x',
'600'),
('10','1260','500','32','10','12x'
,'350'),
('11','1223','900','128','40','40x'
,'980'),
('12','1233','800','128','20','50x'
,'970'),
('2','1121','750','64','5','40x'
,'600'),
('3','1235','500','64','5','12x'
,'600'),
('4','1123','600','128','14','40x'
,'850'),
('5','1345','600','128','8','40x'
,'850'),
('6','1324','750','128','5','50x'
,'950'),
('7','1230','500','32','10','12x'
,'400'),
('8','1232','450','64','5','24x'
,'350'),
('9','1220','450','32','10','24x'
,'350')""")

IntegrityError: UNIQUE constraint failed: Laptop.Model

In [54]:
data3= pd.read_sql("""select * from Laptop""", conn)

In [55]:
data3

    Model Maker SpeedINT  Ram  hd Code  Price
0       1  1232      500   64   5  12x    600
1      10  1260      500   32  10  12x    350
2      11  1223      900  128  40  40x    980
3      12  1233      800  128  20  50x    970
4       2  1121      750   64   5  40x    600
5       3  1235      500   64   5  12x    600
6       4  1123      600  128  14  40x    850
7       5  1345      600  128   8  40x    850
8       6  1324      750  128   5  50x    950
9       7  1230      500   32  10  12x    400
10      8  1232      450   64   5  24x    350
11      9  1220      450   32  10  24x    350

In [ ]:
conn.execute("""INSERT INTO PC VALUES 
('1','1232','500','64','5'
,'600'),
('10','1260','500','32','10'
,'350'),
('11','1223','900','128','40'
,'980'),
('12','1233','800','128','20'
,'970'),
('2','1121','750','64','5'
,'600'),
('3','1235','500','64','5'
,'600'),
('4','1123','600','128','14'
,'850'),
('5','1345','600','128','8'
,'850'),
('6','1324','750','128','5'
,'950'),
('7','1230','500','32','10'
,'400'),
('8','1232','450','64','5'
,'350'),
('9','1220','450','32','10'
,'350')""")